﻿<div class="jumbotron">
    <h1>DSX Access System API</h1>
    <p class="lead">This is the DSX Access API endpoint, to be able to create DSX requests.</p>
    <p>@Html.ActionLink("More information...", "Index", "Help", new { area = "" }, null)</p>
</div>

