@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using DSXAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "DSX API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper body-content">
            <h2>Introduction</h2>
            <p>This API allows to create a DML access files to be consumed by the DSX System.</p>
            <h2>Available Request Types:</h2>
            <ul>
                <li>Grant Access</li>
                <li>Revoke Access</li>
                <li>Change Pin</li>
                <li>Replace Card</li>
            </ul>
            <hr />
            <h3>Request Object Format sample:</h3>
            <code>
                {
                    "FirstName": "John",
                    "LastName": "Doe",
                    "Company": "CORO Student",
                    "CatCardNumber": "90200000000",
                    "AccessLevel": "CORO Student",
                    "PIN": "0000",
                    "StartDate": "1/1/2020 15:00",
                    "EndDate": "12/31/8888 12:00"
                }
            </code>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
