{{#if StudentID}}
	I L1 U4 ^{{StudentID}}^^^
{{else}}
	I L1 U2 ^{{CatCardNumber}}^^^
{{/if}}
T Names
F FName ^{{FirstName}}^^^
F LName ^{{LastName}}^^^
F Company ^{{Company}}^^^
W
T UDF
F UdfNum ^2^^^
F UdfText ^{{CatCardNumber}}^^^
W
{{#if StudentID}}
	T UDF
	F UdfNum ^4^^^
	F UdfText ^{{StudentID}}^^^
	W
{{/if}}
T Cards
F Code ^{{CatCardNumber}}^^^
{{#if PIN}}
	F PIN ^{{PIN}}^^^
{{/if}}
F StartDate ^{{StartDate}}^^^
F StopDate ^{{StopDate}}^^^
F AddAcl ^{{AccessLevel}}^^^
{{#iff IsHonors "==" "Y"}}
	{{#iff ../AccessLevel "NotStartsWith" "HNRV"}}
		F AddAcl ^HNRV Honor Students^^^
		F Loc ^28^^^
		F OLL ^2^^^
	{{/iff}}
{{/iff}}
F Loc ^{{Loc}}^^^
F OLL ^{{OLL}}^^^
W