{{#if StudentID}} 
	I L1 U4 ^{{StudentID}}^^^
{{else}}
	I L1 U2 ^{{CatCardNumber}}^^^
{{/if}}
T Cards
F Code ^{{CatCardNumber}}^^^
F DelAcl ^{{AccessLevel}}^^^
{{#iff IsHonors "!=" "Y"}}
	F DelAcl ^HNRV Honor Students^^^
{{/iff}}
W